.alert-bottom {
	position: fixed;
	right: 15px;
	bottom: 50px;
	z-index: 999;
}


.item-content h3 > a {
	color: #000000;
}

.item-list .item-card .panel.panel-default {
	border-color: transparent;
}
.item-list .item-card .panel-body {
  transition: box-shadow .3s ease-in-out;
  width: 100%;
}
.item-list .item-card .panel-body:hover {
	box-shadow: 0 5px 15px rgba(0,0,0,.3);
}
